<div class="w-embed">
    <style>
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@media only screen and (min-width: 1200px) {
     body {font-size: 15px;}
}
</style>
  </div>