<a sym-bind="{&quot;link&quot;:{&quot;type&quot;:&quot;Select&quot;,&quot;val&quot;:{&quot;from&quot;:{&quot;type&quot;:&quot;Variable&quot;,&quot;val&quot;:&quot;data&quot;},&quot;prop&quot;:&quot;4fb962e1-f011-238f-8f1b-e99519cb1ab1&quot;}}}" data-w-id="aebc0b8b-ac09-ebfc-5b8c-c4dd6a1cd8a0" href="{{ links.-3936d697 }}" target="_blank" class="project-link w-inline-block">
            <div data-w-id="aebc0b8b-ac09-ebfc-5b8c-c4dd6a1cd8a1">{{ texts.-2e6f3d0f }}</div>
            <div class="progress-bar">
              <div class="progress-text">{{ texts.-2e6f3d0f }}</div>
            </div>
          </a>